<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Site Editor - Login</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme19.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>	
    <script src="js/main.js"></script>	
    <script src="js/login.js"></script>	
</head>
<body>
    <div class="form-body without-side">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items" style="margin-top:-200px;">
						<div><img src="img/icon.png" style="height:50px;"></div><br>
                        <div  id="v-login">
                            <input v-model="email" type="text" name="username" placeholder="E-mail Address">
                            <input v-model="password" type="password" name="password" placeholder="Password">
                            <div>
                                <div class="form-button">
                                    <button id="submit" type="submit" class="ibtn" v-on:click="login()">Login</button> <a href="forget.html">Forget password?</a>
                                </div>                                
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>						
</body>
</html>